build/
dist/
install/
src/core/tortuga/etc/tortuga-release
src/*/*.egg-info
src/kits/*/*.egg-info
src/installer/tortuga/etc/tortuga-release
.kit-deps.mk
src/kits/*/BUILDROOT/
.DS_Store
*.mo
*.po
.file-list
*.sublime-project
*.sublime-workspace
*.swp
tortuga-tags
pylint.out
pep8.out
bootstrap.py
testbed
nosetests.xml
.coverage
cover/
coverage*.xml
.tox
tortuga-build
.ropeproject/
__pycache__/
.cache/
.idea
.vagrant
.venv/
.vscode
paver-minilib.zip
**/.vscode/tags
.pytest_cache/
.mypy_cache/
