[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tortuga-core = {editable = true,file = "src/core"}
mock = "*"
pylint = "*"
pyflakes = "*"
pycodestyle = "*"
pytest = "*"
pytest-cov = "*"
tox = "*"
Paver = "*"
Babel = "*"

[dev-packages]
mock = "*"
wheel = "*"
pylint = "*"
pyflakes = "*"
pycodestyle = "*"
pytest = "*"
pytest-cov = "*"
tox = "*"
Paver = "*"
Babel = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
